language: node_js
branches:
  only:
    - master
    - test/cbt
matrix:
  include:
    # Unit tests on Node Stable
    - node_js: 7
      env:
        - CBT_USERNAME=lynnjepsen@google.com
        - CBT_AUTHKEY=u868c28eafe8a854
      script: npm run build && npm run pretest && npm run test:unit && npm run posttest
      after_success:
        - codecov
    # Closure compiler type checking. Note that TravisCI has Java 7 enabled by default which should
    # work for using closure.
    - node_js: node
      # Make more clear that this job is for running closure tests
      env:
        - CLOSURE=1
      script: npm run test:closure
